<div ng-controller="MainCtrl">
    <h1 class="cover-heading">Sua equipe de desenvolvimento cria algoritmos com uma alta qualidade ?</h1>
    <p class="lead">Seu colega de trabalho que desenvolve sem parar sempre segue boas práticas ?</p>
    <p class="lead">Algoritmos de alto desempenho ?</p>
    <p class="lead">
        <a href="/#snippet.html" class="btn btn-lg btn-default">Envie um Snippet agora !11!!1</a>
    </p>

    <div id="snippet-container">
        <h3 ng-show="snippetLoading">Carregando.. :)</h3>
        <div class="row" ng-repeat="snippet in snippets | reverse">
            <h4>
            <a href="#/snippet-details.html/{{snippet.$id}}" class="snippet-details">
               {{snippet.createdDate | moment: 'fromNow' }}, {{snippet.codeLanguage}}</a>
               </h4>
            <pre>{{snippet.snippet}}</pre>

            <div ng-controller="LikeController" class="sd-margin">
              <button ng-click="addLike(snippet.$id, 'esseEprogrameiro')" role="button" class="btn btn-default">#EsseÉprogrameiro ({{snippet.status.esseEprogrameiro}})</button>
              <button ng-click="addLike(snippet.$id, 'parabens')" role="button" class="btn btn-default">#parabéns ({{snippet.status.parabens}})</button>
              <button ng-click="addLike(snippet.$id, 'soSucesso')" role="button" class="btn btn-default">#sóSucesso ({{snippet.status.soSucesso}})</button>
              <button ng-click="addLike(snippet.$id, 'manjaDosParanaue')" role="button" class="btn btn-default">#ManjaDosParanaue ({{snippet.status.manjaDosParanaue}})</button>
              <button ng-click="addLike(snippet.$id, 'trampoDePresidiario')" role="button" class="btn btn-default">#trampoDePresidiario ({{snippet.status.trampoDePresidiario}})</button>
            </div>
        </div>
    </div>
</div>
