<div ng-controller="Snippet">
    <form role="form" name="addSnippet" ng-submit="addSnippet(addSnippet.$valid)" novalidate>
        <div class="form-group">
            <textarea name="codeSnippet" ng-required="true" ng-minlength="5" ng-model="codeSnippet" class="form-control" rows="5" placeholder="swith(a) { case 'a': return true; break; case 'b': return false; break; }" required></textarea>
        </div>
        <div class="form-group">
            <select name="codeLanguage" ng-required="true" ng-model="codeLanguage" class="form-control input-lg">
                <option value="">Linguagem de programação</option>
                <option value="PHP">PHP</option>
                <option value="Java">Java</option>
                <option value="Javascript">Javascript</option>
                <option value="Phyton">Phyton</option>
                <option value="CSS">CSS</option>
                <option value="HTML">HTML</option>
                <option value="Ruby">Ruby</option>
                <option value="C">C</option>
                <option value="C++">C++</option>
                <option value="C++">C#</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar !!111!" ng-disabled="addSnippet.$invalid" class="btn btn-lg btn-default" />
        </div>
    </form>
</div>

